<div #conversationsWrapper id="conversationWrapper"
	[style.height]="topPanel | safeStyle"
	(scroll)="onScroll(conversationsWrapper.scrollTop, conversationsWrapper.scrollHeight)"
	>
	<messages-list
		[conversationId]="conversationId"
		[isChat]="isChat"
		[markAsRead]="markAsRead"
	></messages-list>
</div>
<emoji
	[toggle]="onEmojiToggle"
	[emojiPanelPosition]="emojiPanel"
	(onSelect)="onEmojiSelect($event)"></emoji>
<div
	id="attachedFiles"
	class="ontop"
	*ngIf="isAttachedFilesOpened"
	[style.bottom]="emojiPanel | safeStyle"
	(mouseleave)="hideAttachments()">
	<popup-menu
		[selectable]="false"
		[deletable]="true"
		[state]="isAttachedFilesOpened"
		[menuItems]="attachments"
		(onRemove)="onAttachedFileRemove($event)">
	</popup-menu>
</div>
<div #inputWrapper id="inputWrapper"
	[style.top]="bottomPanel | safeStyle"
	(mouseleave)="stopResize([conversationsWrapper, inputWrapper], $event)"
	(paste)="uploadFilesFromClipboard($event)"
	>
	<div id="inputControls" class="row"
		(mouseup)="stopResize([conversationsWrapper, inputWrapper], $event)"
	>
		<div
			class="dragBar material-icons primary-color-text"
			(mousedown)="startResize([conversationsWrapper, inputWrapper], $event)"
		>drag_handle</div>
		<button class="btn btn-round primary-color pull-right centering-container" [class.disabled]="!sendEnabled" (click)="onSendMessageClick.emit()" title="{{ 'send' | translate }}"><i class="material-icons round-btn-icon">send</i></button>
		<div class="emoji-smile-icon pull-right" (click)="toggleEmoji()"></div>
		<label for="fileUpload" class="btn primary-color centering-container btn-round pull-right" [class.disabled]="attachmentsUploadingCount" (mouseenter)="showAttachments()"><i class="material-icons">attach_file</i>
			<!-- <div class="spinner btn-round"></div> -->
			<div class="attachments-count" *ngIf="attachments.length">{{attachments.length}}</div>
		</label>
		<input multiple accept=".jpg,.png,.gif" id="fileUpload" type="file" (change)="uploadFiles($event)">
		<button *ngIf="!autoReadMessages" [@flyInOut]="unreadMessages" class="btn btn-round primary-color pull-right material-icons" (click)="onMarkAsRead()" title="{{ 'mark_as_read' | translate }}">done_all</button>
		<button [@flyInOut]="scrollToBottomAvailable" class="btn primary-color btn-round pull-right material-icons" (click)="scrollToBottom()">play_for_work</button>
	</div>
	<message-input
		[conversationId]="conversationId"
		[isChat]="isChat"
		[selectEmoji]="selectEmoji"
		[onSendMessageClick]="onSendMessageClick"
		[newAttachment]="newAttachment"
		[removeAttachment]="removeAttachment"
		[attachmentUploaded]="attachmentUploaded"
		(onMessageSent)="messageSent($event)"
		(onAttachmentsUpdate)="onAttachmentsUpdate($event)"
	></message-input>
		<!--(onUserInput)="onInput.emit($event)"-->
</div>