#chat_spacer {
    position: absolute;
    padding-top: 110px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#chat_body {
    position: relative;
    width: 100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 0px 0px;
    transition: height .5s;
}

.max-width-80 {
    max-width: 80%;
}

.message-block {
    position: relative;
    width: 100%;
    min-height: 55px;
    height: fit-content;
    padding-left: 10px;
}

.message-attachment {
    height: fit-content;
    color: #4a6f97;
    position: relative;
    z-index: 50;
    padding: 5px;
}

pre {
    border-radius: 0;
}

.round-corners-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.round-corners-top {
    /*border-top-left-radius: 10px;*/
    border-top-right-radius: 10px;
}

.att_photo {
    padding: 3px;
    width: fit-content;
    border: 1px solid;
    border-radius: 4px;
    border-color: #4a6f97;
    margin: 3px
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.zoom_in {
    cursor: -webkit-zoom-in;
    height: 130px;
}

.zoom_out {
    min-height: 130px;
    cursor: -webkit-zoom-out;
}

.borderless {
    border: none;
}

.att_photo_img {
    max-width: 100%;
}

.fwd_msg_block {
    max-width: 80%;
}

.fwd_messages {
    border-left: 2px rgba(66, 100, 139, 0.3)  solid;
    clear: both;
    left: 3px;
    position: relative;
    float: none;
    padding-left: 3px;
    width: 300px;
}

.fwd_message_attachment {
    padding-top: 3px; 
}

.att-doc-container {
    display: flex;
    padding: 5px;
}

.att-doc {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #42648b;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 16px;
}

.attachment-description {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.att-doc-size {
    color: #939393;
    pointer-events: none;
    text-align: left;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.att-doc-icon {
    flex: 1;
    display: inline-block;
    position: relative;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.att_doc_img {
    background: url("../../icons/doc_icons.png") no-repeat;
}

.att_vid_img {
    background: url("../../icons/doc_icons.png") no-repeat 0px -120px;
}

.att_aud_img {
    background: url("../../icons/doc_icons.png") no-repeat 0px -90px;
}

.att_url_img {
    background: url("../../icons/doc_icons.png") no-repeat 0px -180px;
}

.att_zip_img {
    background: url("../../icons/doc_icons.png") no-repeat 0px -30px;
}

.user-avatar {
    height: 36px;
    width: 36px;
    position: relative;
}

.user-avatar-img {
    cursor: pointer;
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 1px 2px;
    background: rgb(250, 251, 252) url("https://vk.com/images/camera_100.png") repeat scroll 0% 0% / cover padding-box border-box;
}

.online:after {
    bottom: -4%;
    right: -4%;
    border: 2px solid #fff;
    height: 10px;
    width: 10px;
    content: '';
    position: absolute;
    background-color: #8ac176;
    border-radius: 50%;
}

.message {
    width: fit-content;
    margin-left: 10px;
    width: calc(100% - 50px);
}

.user-name-and-date {
    color: rgb(147, 147, 147);
    height: 16px;
}

.user-name {
    color: rgb(66, 100, 139);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    max-width: 150px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    border: 0px none rgb(66, 100, 139);
    font: normal normal bold normal 12px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(66, 100, 139) none 0px;
    overflow: hidden;
}

.message-timestamp {
    color: rgba(148, 148, 148, 0.6);
    border: 0px none rgba(148, 148, 148, 0.6);
    font: normal normal normal normal 12px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgba(148, 148, 148, 0.6) none 0px;
    overflow: hidden;
    white-space: nowrap;
}

.messages-list {
    width: fit-content;
    max-width: calc(100% - 50px);
    list-style: none outside none;
    padding-left: 0px;
    position: relative;
}

.message-item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    list-style: none outside none;
    margin: 4px 0 0 0;
}

.message-body {
    margin: 0;
    padding: 0;
    /*width: fit-content;*/
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.message-body-internal {
    white-space: pre-line;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    z-index: 50;
    background: none;
    border: none;
    word-break: keep-all;
    color: inherit;
    overflow: hidden;
}

.chat_action {
    font: normal italic bold normal 13px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    color: #777;
    min-height: 35px;
}

.top-buffer {
    margin-top: 10px;
}

#load_old {
    cursor: pointer;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
    padding-top: 10px;
}

#load_old:hover {
    background-image: linear-gradient(to right, #ebf0f4, rgba(66, 100, 139, 0.1), #ebf0f4) !important;
}

#load_old_link {
    width: 50%;
    text-align: center;
    font: normal normal bold normal 12px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px;
    text-decoration: underline;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}

.space-left {
    margin-left: 4px;
}

.space-top {
    margin-top: 4px;
}

.border {
    border: 1px solid;
}