<div class="message-block" *ngFor="let message of historyToShow">
	<user-avatar [user]="message.from" class="user-avatar"></user-avatar>
	<message-title class="left-buffer inline" [user]="message.from" [date]="message.date" [dateOnNewLine]="isForwarded"></message-title>
	<div class="message">
		<ul class="messages-list">
			<li class="message-item"
				*ngFor="let isFirst=first; let isLast=last; let item of message.messages"
			>
				<div class="message-body"
					[class.unread]="!message.isRead"
					[class.round-corners-top]="isFirst"
					[class.round-corners-bottom]="isLast"
				>
					<message-body *ngIf="item.body" [body]="item.body"></message-body>
					<div *ngIf="item.action" class="chat_action">{{ item | chatAction | translate:{"user": message.from | userFirstName, "user2": participants[item.actionMid] | userFirstName} }}</div>
					<div class="message-attachment" *ngFor="let attachment of item.attachments">
						<messages-attachment [attachment]="attachment" [isRead]="message.isRead"></messages-attachment>
						<div *ngIf="!attachment.type">
							{{attachment}}
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>