<div id="load_old" (click)="loadOldMessages()" *ngIf="!messagesCount || messagesCount > history.length">
	<i class="material-icons">history</i>
</div>
<div class="chat_action top-buffer" *ngIf="messagesCount && messagesCount <= history.length">
	<span>{{'conversation_start' | translate}}</span>
</div>
<div class="message-block clearfix" *ngFor="let message of historyToShow | reverse">
	<div class="user-avatar pull-left" [class.online]="message.from.isOnline">
		<a [href]="message.from.id | linkToUser" target="_blank">
			<img alt="" [src]="getUserPhoto(message.from.id)" class="user-avatar-img" />
		</a>
	</div>
	<div class="message pull-left">
		<div class="user-name-and-date">
			<a [href]="message.from.id | linkToUser" target="_blank" class="user-name">{{getUserName(message.from.id)}}</a>
			<span class="message-timestamp space-left">{{message.date*1000 | date:(message.date | formatDate) }}</span>
		</div>
		<ul class="messages-list">
			<li class="message-item" *ngFor="let isFirst=first; let isLast=last; let item of message.messages | reverse" id="{{item.id}}">
				<div class="message-body clearfix"
					[class.unread]="!item.isRead"
					[class.round-corners-top]="isFirst"
					[class.round-corners-bottom]="isLast">
					<pre class="message-body-internal text-normal"
						*ngIf="item.body"
						[innerHTML]="item.body | cutLinks | emoji | safe" 
						></pre>
					<div *ngIf="item.action" class="chat_action">{{ item | chatAction | translate:{"user": getUserName(item.userId), "user2": getUserName(item.actionMid)} }}</div>
					<div class="message-attachment" *ngFor="let attachment of item.attachments">
						<messages-attachment [attachment]="attachment" [isRead]="item.isRead"></messages-attachment>

						<!-- fwd messages -->
						<div *ngIf="attachment.fwd" class="fwd_messages">
							<div *ngFor="let mts of attachment.fwd">
								<div class="fwd_msg_block" *ngIf="mts.from">
									<div class="user-avatar inline" [class.online]="mts.from.isOnline">
										<a [href]="mts.fromId | linkToUser" target="_blank">
											<img alt="" [src]="getUserPhoto(mts.fromId)" class="user-avatar-img" />
										</a>
									</div>
									<div class="user-name-and-date inline space-left">
										<a [href]="message.fromId | linkToUser" target="_blank" class="user-name block">{{getUserName(mts.fromId)}} {{isFwdFirst}} {{isFwdLast}}</a>
             							<span class="message-timestamp block">{{mts.date*1000 | date:(mts.date | formatDate)}}</span>
									</div>
									<div class="message">
										<ul class="messages-list">
											<li class="message-item message-body space-top border"
												[class.round-corners-top]="isFwdFirst"
												[class.round-corners-bottom]="isFwdLast"
												*ngFor="let isFwdFirst=first; let isFwdLast=last; let msg of mts.messages"
											>
												<pre class="message-body-internal text-normal" [innerHTML]="msg.body | cutLinks | emoji | safe" *ngIf="msg.body"></pre>
												<div class="fwd_message_attachment space-left" *ngFor="let fwd_att of msg.attachments">
													<messages-attachment [attachment]="fwd_att" [isRead]="true"></messages-attachment>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="!attachment.type">
							{{attachment}}
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>