.user-avatar {
    height: 36px;
    width: 36px;
    position: relative;
}

.user-avatar-img {
    cursor: pointer;
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 1px 2px;
    background: rgb(250, 251, 252) url("https://vk.com/images/camera_100.png") repeat scroll 0% 0% / cover padding-box border-box;
}

.online:after {
    bottom: -4%;
    right: -4%;
    border: 2px solid #fff;
    height: 10px;
    width: 10px;
    content: '';
    position: absolute;
    background-color: #8ac176;
    border-radius: 50%;
}