coverage/
node_modules/
out/
dist/app.main/
dist/app.background/
dist/app.options/
dist/app.install/
dist/assets/
dist/icons/
dist/_locales/
dist/options*
/demo/
compile/
src/**/*.metadata.json
src/ng2-translate.bak/
npm-debug.log*
.vscode
*.zip
.DS_Store