h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
body {
  margin: 2em;
  background-color: rgba(0, 0, 0, 0.2)
}
 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
