h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading {
    bottom: 0px;
    color: rgb(42, 88, 133);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 5px;
    vertical-align: middle;
    width: 36px;
    column-rule-color: rgb(42, 88, 133);
    perspective-origin: 18px 8px;
    transform-origin: 18px 8px;
    border: 0px none rgb(42, 88, 133);
    font: normal normal normal normal 13px / 15.002px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(42, 88, 133) none 0px;
    transform: rotate(270deg);
    animation: rotating 2s linear infinite;
}/*#loading*/

#loading:before {
    background-position: 2px -324px;
    bottom: 1.5px;
    color: rgb(42, 88, 133);
    content: '';
    cursor: pointer;
    display: block;
    height: 15px;
    left: 18px;
    opacity: 0.7;
    position: absolute;
    right: 8px;
    text-align: left;
    top: 8px;
    width: 20px;
    z-index: 0;
    column-rule-color: rgb(42, 88, 133);
    perspective-origin: 10px 7.5px;
    transform-origin: 10px 7.5px;
    background: rgba(0, 0, 0, 0) url("assets/icons/loading.png") no-repeat scroll 3px 0px / auto padding-box border-box;
    border: 0px none rgb(42, 88, 133);
    font: normal normal normal normal 13px / 15.002px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: -8.5px 0px 0px -10px;
    outline: rgb(42, 88, 133) none 0px;
    background-size: contain;
}/*#loading:before*/
 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
