a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.breadcrumb-item-title {
    margin-top: 4px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 235px;
}

.breadcrumb-item {
    position: relative;
}

.left-buffer {
    margin-left: 5px;
}

.clickable {
    cursor: pointer;
}

.clickable::hover {
    background-color: lightgray;
}

h1 {
    display: inline-block;
    margin: 0;
}