.primary-color, .unread-marker, .unread-count {
    color: white;
    background-color: #5281b9;
}

.primary-color-text {
    color: #5281b9;
}

.border-primary {
    border-color: #5281b9;
}

.secondary-color, .unread {
    color: black;
    background-color: #c1def9;
}

.unread-text {
    color: black;
}

.unread-marker {
    bottom: 8px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: relative
}

.unread-count {
    bottom: 13px;
    color: white;
    height: 18px;
    min-width: 18px;
    width: fit-content;
    text-align: center;
    border-radius: 9px / 50%;
    font: normal normal bold normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0px 6px;
    box-sizing: border-box;
    position: relative;
}