.primary-color, .unread-marker, .unread-count {
    color: white;
    background-color: #5281b9;
}

.primary-color-text {
    color: #5281b9;
}

.border-primary {
    border-color: #5281b9;
}

.secondary-color, .unread {
    color: black;
    background-color: #c1def9;
}

.unread-text {
    color: black;
}