.btn-round {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 18px;
    padding: 0;
    margin-left: 5px;
    border: none;
    position: relative;
}

.round-btn-icon {
    font-size: 18px;
}