.att-doc-container {
    display: flex;
    padding: 5px;
}

.att-doc {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #42648b;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 16px;
}

.attachment-description {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.att-doc-size {
    color: #939393;
    pointer-events: none;
    text-align: left;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.att-doc-icon {
    flex: 1;
    display: inline-block;
    position: relative;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.att-doc-preview {
    max-width: 100%;
}

.preview-spoiler {
    .show-hide {
        // border-bottom: 1px dashed currentColor;
    }
}

.att_doc_img {
    background: url("../../../../../icons/doc_icons.png") no-repeat;
}

.att_vid_img {
    background: url("../../../../../icons/doc_icons.png") no-repeat 0px -120px;
}

.att_aud_img {
    background: url("../../../../../icons/doc_icons.png") no-repeat 0px -90px;
}

.att_url_img {
    background: url("../../../../../icons/doc_icons.png") no-repeat 0px -180px;
}

.att_zip_img {
    background: url("../../../../../icons/doc_icons.png") no-repeat 0px -30px;
}

.preview-video-container {
    position: relative;

    .preview-video-controls {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        text-align: center;

        .video-progress-bar {
            position: absolute;
            bottom: 3px;
            left: 0;
            height: 3px;
            background: white;
            transition: width .3s;
        }

        .play, .pause {
            position: relative;
            top: 50%;
            margin-top: -20px;
            font-size: 40px;
            opacity: 0;
            display: none;
            transition: opacity .2s ease-in-out;
            vertical-align: middle;
            pointer-events: none;
        }
    }

    video {
        cursor: pointer;

        & + .preview-video-controls {
            & > .play {
                display: none;
            }

            & > .pause {
                display: inline-block;
            }
        }

        &:hover + .preview-video-controls {
            .play, .pause {
                opacity: 1;
            }
        }

        &.paused + .preview-video-controls {
            & > .play {
                display: inline-block;
            }

            & > .pause {
                display: none;
            }
        }
    }
}