h1 {
    color: white;
}

.content {
    top: 30%;
    width: 600px;
    position: relative;
}

.app-name {
    font-size: 40px;
}

.bottom-space {
    margin-bottom: 20px;
}

#progress {
    border-radius: 5px;
}

p {
    font-size: 20px;
    color: white;
}