<div class="content">
    <div>
        <div class="row bottom-space">
            <h1 class="pull-right">setup <span class="app-name">VK Messenger</span></h1>
        </div>
        <div class="row bottom-space" style="height: 10px;">
            <div id="progress" [style.width]="progress + '%'" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="row bottom-space">
            <p>
                Для начала необходимо авторизироваться на сайте VK.com. Если это происходит впервые — потребуется разрешить приложению доступ к Вашим данным.
            </p>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-warning btn-lg pull-right" (click)="authorize()">{{'authorize_btn' | translate}}</button>
        </div>
    </div>
</div>
