h1 {
    color: white;
}

.white-text {
    color: white;
}

.content {
    top: 30%;
    width: 600px;
    position: relative;
}

.app-name {
    font-size: 40px;
}

.bottom-space {
    margin-bottom: 20px;
}

.right-space {
    margin-right: 10px;
}

#progress {
    border-radius: 5px;
}

p {
    font-size: 20px;
    color: white;
}

.absolute-position {
    position: absolute;
    top: 120px;
    width: 100%;
}