        <div id="user_avatar_div">
			<div><div><div>
				<div id="user_avatar_inner_div">
					<img alt="" [src]="dialog.message.chat_id ? 'http://vk.com/images/camera_c.gif' : getUserPhoto(dialog.message.user_id)" width="50" height="50" id="user_avatar" />
				</div>
			</div></div></div>
		</div>

		<div id="dialog_div">
			<div id="dialog_content_div">
				<div id="last_message_date">
					{{dialog.message.date*1000 | date:formatDate(dialog.message.date) }}
				</div>
				<div id="dialog_title_div">
					 <span id="dialog_title_span">
                        <span>
                             {{dialog.message.title === ' ... ' ? getUserName(dialog.message.user_id) : dialog.message.title}}
                        </span>
                    </span>
				</div>
				<div id="message_body">
				    <span>
                        <span>
                             {{(dialog.message.out ? current_user.first_name : getUserName(dialog.message.user_id)) + ': '}}
                        </span>
                        {{dialog.message.body}}
                    </span>
                    <span id="three_dots">...</span>
				</div>
				<div id="unread_marker" [hidden]="dialog.message.read_state"></div>
				<div id="unread_count" [hidden]="!dialog.unread">{{dialog.unread}}</div>
			</div>
		</div>