.selected {
    background-color: #CFD8DC !important;
    color: white;
}
#dialogs_list li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
#dialogs_list li:hover {
    color: #607D8B;
    background-color: #DDD;
}
.dialogs .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

#dialogs_list {
    box-shadow: rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    box-sizing: border-box;
    min-height: 100%;
    text-align: left;
    width: 550px;
    perspective-origin: 275px 1442.5px;
    transform-origin: 275px 1442.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 13px / 15.002px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
}/*#dialogs_list*/

#dialog_li {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 71px;
    width: 550px;
    perspective-origin: 275px 35.5px;
    transform-origin: 275px 35.5px;
    padding: 0px 0px 0px 25px;
}/*#dialog_li*/

#user_avatar_div {
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    float: left;
    height: 50px;
    text-align: left;
    width: 50px;
    perspective-origin: 32px 34.5px;
    transform-origin: 32px 34.5px;
    border: 0px none rgb(255, 255, 255);
    padding: 11px 14px 8px 0px;
}/*#user_avatar_div*/

#user_avatar_inner_div {
    color: rgb(42, 88, 133);
    height: 51px;
    width: 52px;
    column-rule-color: rgb(42, 88, 133);
    perspective-origin: 26px 25.5px;
    transform-origin: 26px 25.5px;
    border: 0px none rgb(42, 88, 133);
    outline: rgb(42, 88, 133) none 0px;
}/*#user_avatar_inner_div*/

.user_avatar {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
    text-align: left;
    column-rule-color: rgba(0, 0, 0, 0);
    perspective-origin: 25px 25px;
    transform-origin: 25px 25px;
    border: 0px none rgba(0, 0, 0, 0);
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 1px 2px;
    outline: rgba(0, 0, 0, 0) none 0px;
    background: rgb(250, 251, 252) url("https://new.vk.com/images/camera_100.png") repeat scroll 0% 0% / cover padding-box border-box;
}/*#user_avatar*/

.mini_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
    border-radius: 50% 50% 50% 50%;
    float:left;
    margin: 0.5px 0.5px 0.5px 0.5px;
}

.top_left_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
    border-radius: 100% 0% 0% 0%;
    float:left;
    margin: 0px 0.5px 0.5px 0px;
}

.top_right_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 100% 0% 0%;
    margin: 0px 0px 0.5px 0.5px;
}

.bottom_left_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 0% 0% 100%;
    float: left;
    margin: 0.5px 0.5px 0px 0px;
}

.bottom_right_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 0% 100% 0%;
    margin: 0.5px 0px 0px 0.5px;
}

.online_marker:after {
    border-color: inherit;
}
.online_marker:after {
    bottom: 2%;
    right: 2%;
    border: 2px solid #fff;
    height: 8px;
    width: 8px;
    z-index: 100;
}
.online_marker:after {
    content: '';
    position: absolute;
    background-color: #8ac176;
    border-radius: 50%;
}

#dialog_div {
    bottom: 0px;
    cursor: pointer;
    height: 71px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 446px;
    perspective-origin: 230.5px 36px;
    transform-origin: 230.5px 36px;
    border-top: 1px solid rgb(231, 232, 236);
    margin: 0px 0px 0px 64px;
    padding: 0px 15px 0px 0px;
}/*#dialog_div*/

#dialog_content_div {
    box-sizing: border-box;
    perspective-origin: 223px 35.5px;
    transform-origin: 223px 35.5px;
    padding: 10px 0px;
}/*#dialog_content_div*/

#last_message_date {
    bottom: 40px;
    color: rgb(147, 147, 147);
    height: 14px;
    left: 340px;
    opacity: 0.7;
    text-align: right;
    position: absolute;
    right: 15px;
    top: 17px;
    width: 90px;
    z-index: 0;
    column-rule-color: rgb(147, 147, 147);
    perspective-origin: 22.4688px 7px;
    transform-origin: 22.4688px 7px;
    border: 0px none rgb(147, 147, 147);
    outline: rgb(147, 147, 147) none 0px;
}/*#last_message_date*/

#dialog_title_div {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(34, 34, 34);
    display: inline-block;
    bottom: 0px;
    cursor: pointer;
    height: 19px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 446px;
    perspective-origin: 223px 9.5px;
    transform-origin: 223px 9.5px;
    margin: 6px 0px 4px;
    column-rule-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
}/*#dialog_title_div*/

#dialog_title_span {
    height: 15px;
    max-width: 70%;
    width: 89.3281px;
    perspective-origin: 44.6563px 8px;
    transform-origin: 44.6563px 8px;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
    padding: 0px 0px 1px;
}/*#dialog_title_span*/

#message_body {
    color: rgb(139, 147, 155);
    cursor: pointer;
    height: 15px;
    max-width: 85%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 379.094px;
    column-rule-color: rgb(139, 147, 155);
    perspective-origin: 189.547px 8px;
    transform-origin: 189.547px 8px;
    border: 0px none rgb(101, 101, 101);
    outline: rgb(139, 147, 155) none 0px;
    overflow: hidden;
    padding: 0px 0px 1px;
}/*#message_body*/

#three_dots {
    color: rgb(101, 101, 101);
    content: '"..."';
    display: none;
    vertical-align: bottom;
    column-rule-color: rgb(101, 101, 101);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    animation: typer-simple 1.1s linear 0s infinite normal none running;
    outline: rgb(101, 101, 101) none 0px;
}/*#three_dots*/

#unread_marker {
    bottom: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 8px;
    left: 422px;
    min-width: 6px;
    position: absolute;
    right: 15px;
    text-align: center;
    text-indent: -99px;
    top: 55px;
    width: 8px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 4px 4px;
    transform-origin: 4px 4px;
    background: rgba(147, 173, 200, 0.901961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal 500 normal 11px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    list-style: none outside none;
    margin: -12px 1px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#unread_marker*/

#unread_count {
    bottom: 13px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 18px;
    left: 413px;
    min-width: 6px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 57px;
    width: 6px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    background: rgb(114, 147, 182) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 18px 18px 18px 18px;
    font: normal normal 500 normal 11px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    list-style: none outside none;
    margin: -17px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 6px;
}/*#unread_count*/