<!--<h1>{{title}}</h1>-->
<!--<button (click)="convertDate(1231432423)">refresh</button>-->
<ul id="dialogs_list">
	<!--<button name="btn" id="btn" (click)="ngOnInit()">refresh</button>-->
    <li *ngFor="let dialog of dialogs" (click)="gotoDialog(dialog.message)" id="dialog_li">
		<!--<dialog-photo [chat_id]="dialog.message.chat_id" [users_getter]=getParticipants(dialog.message.user_id,dialog.message.chat_id) [current_user]=user ></dialog-photo>-->
        <dialog-view [users]="users" [current_user]="user" [dialog]="dialog"></dialog-view>
    </li>
</ul>
<div id="load_old" (click)="loadOldDialogs()" [hidden]="dialogs_count && dialogs_count === dialogs.length">
	<div id="arrow_down"></div>
	<a id="load_old_link">Load previous messages</a>
</div>