#chat_body {
    position: relative;
    width: 100%;
    top: 0;
    height: 490px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(255, 255, 255) padding-box;
    padding: 0px 0px 0px;
}/*#chat_body*/

.message_block {
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 100%;
    min-height: 55px;
    height: fit-content;
    flex-direction: column;
}/*.message_block*/

.message_attachment {
    height: fit-content;
    color: #4a6f97;
    float: left;
    position: relative;
    z-index: 50;
}

.att_photo {
    padding: 3px;
    width: fit-content;
    border: 1px solid;
    border-radius: 4px;
    border-color: #4a6f97;
    margin: 3px
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.zoom_in {
    cursor: -webkit-zoom-in;
    height: 130px;
}

.zoom_out {
    min-height: 130px;
    cursor: -webkit-zoom-out;
}

.att_photo_img {
    max-width: 387px;
}

.fwd_msg_block {
    width: 300px;
}

.fwd_messages {
    border-left: 2px rgba(66, 100, 139, 0.3)  solid;
    clear: both;
    left: 3px;
    position: relative;
    float: none;
    padding-left: 3px;
}

.fwd_user_avatar {
    bottom: 24px;
    height: 36px;
    position: relative;
    left: 0px;
    top: 0px;
    width: 36px;
    z-index: 2;
    float: left;
    margin-bottom: 3px;
}

.fwd_messages_list {
    list-style: none outside none;
    padding: 3px 0 0 0;
}

.fwd_message_timestamp {
    left: 10px;
    position: relative;
    font: normal normal normal normal 12px / 16.8px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.fwd_user_name {
    left: 10px;
    top: -2px;
    width: fit-content;
    position: relative;
    text-decoration: none;
    color: rgb(66, 100, 139);
    font: normal normal bold normal 12.5px / 15.375px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(66, 100, 139) none 0px;
    overflow: hidden;
}

.fwd_message_body_internal {
    white-space: pre-line;
    margin: 2px 0 0 5px;
    color: black;
    font: normal normal normal normal 13px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.fwd_message_attachment {
    padding-top: 3px; 
}

.att_doc {
    cursor: pointer;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
    text-decoration: none;
    vertical-align: middle;
    font: 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #42648b;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 16px;
}

.att_doc_size {
    color: #939393;
    pointer-events: none;
    text-align: left;
    white-space: nowrap;
}

.att_doc_icon {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.att_doc_img {
    background: url("../icons/doc_icons.png") no-repeat;
}

.att_vid_img {
    background: url("../icons/doc_icons.png") no-repeat 0px -120px;
}

.att_aud_img {
    background: url("../icons/doc_icons.png") no-repeat 0px -90px;
}

.att_url_img {
    background: url("../icons/doc_icons.png") no-repeat 0px -180px;
}

.user_avatar {
    bottom: 24px;
    height: 36px;
    left: 36px;
    position: absolute;
    right: 478px;
    top: 10px;
    width: 36px;
    z-index: 2;
}

.user_avatar_img {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 36px;
    width: 36px;
    column-rule-color: rgba(0, 0, 0, 0);
    border: 0px none rgba(0, 0, 0, 0);
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 1px 2px;
    outline: rgba(0, 0, 0, 0) none 0px;
    background: rgb(250, 251, 252) url("https://vk.com/images/camera_100.png") repeat scroll 0% 0% / cover padding-box border-box;
}

.online:after {
    bottom: -4%;
    right: -4%;
    border: 2px solid #fff;
    height: 7px;
    width: 7px;
    content: '';
    position: absolute;
    background-color: #8ac176;
    border-radius: 50%;
}

.message {
    width: fit-content;
}/*.message*/

.user_name_and_date {
    bottom: 43px;
    color: rgb(147, 147, 147);
    height: 16px;
    left: 82px;
    position: absolute;
    top: 11px;
    z-index: 2;
    column-rule-color: rgb(147, 147, 147);
    border: 0px none rgb(147, 147, 147);
    font: normal normal normal normal 12.5px / 14.425px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(147, 147, 147) none 0px;
}/*.user_name_and_date*/

.user_name {
    color: rgb(66, 100, 139);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    max-width: 200px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    column-rule-color: rgb(66, 100, 139);
    border: 0px none rgb(66, 100, 139);
    font: normal normal bold normal 12.5px / 15.375px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(66, 100, 139) none 0px;
    overflow: hidden;
}/*.user_name*/

.message_timestamp {
    color: rgba(148, 148, 148, 0.6);
    column-rule-color: rgba(148, 148, 148, 0.6);
    border: 0px none rgba(148, 148, 148, 0.6);
    font: normal normal normal normal 12px / 16.8px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 4px;
    outline: rgba(148, 148, 148, 0.6) none 0px;
    overflow: hidden;
    white-space: nowrap;
}/*.message_timestamp*/

.messages_list {
    width: 100%;
    list-style: none outside none;
    padding-left: 0px;
    padding-bottom: 10px;
    top: 30px;
    position: relative;
}/*.messages_list*/

.message_item {
    bottom: 0px;
    box-sizing: border-box;
    left: 0px;
    max-width: 542px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 542px;
    list-style: none outside none;
    margin: 0px 4px 0px;
    padding: 0px 50px 0px 0px;
}/*.message_item*/

.message_body {
    overflow-wrap: break-word;
    width: 387px;
    word-wrap: break-word;
    font: normal normal normal normal 13px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 78px;
    padding: 0px 0px 0px;
}/*.message_body*/

.message_body_internal {
    white-space: pre-line;
    font: normal normal normal normal 13px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding-top: 10px;
    position: relative;
    z-index: 50;
}/*.message_body_internal*/

.chat_action {
    font: italic 13px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #777;
    min-height: 35px;
}

.unread {
    width: 80%;
    top: 0px;
    bottom: 0px;
    left: 75px;
    position: absolute;
    background: rgba(237, 240, 245, 1);
    z-index: 10;
}/*.unread*/

#load_old {
    cursor: pointer;
    width: 100%;
    bottom: 0px;
    height: 30px;
    text-align: center;
    position: relative;
    margin: 10px 0px 0px;
    padding: 10px 0px 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box;
    border-top: 1px solid rgb(231, 232, 236);
}

#load_old:hover {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(66, 100, 139, 0.1), rgb(255, 255, 255)) !important;
}

#load_old_link {
    width: 50%;
    text-align: center;
    font: normal normal 500 normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px;
    text-decoration: underline;
}

#arrow_down {
    bottom: 0px;
    color: rgb(42, 88, 133);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    vertical-align: middle;
    width: 36px;
    column-rule-color: rgb(42, 88, 133);
    border: 0px none rgb(42, 88, 133);
    outline: rgb(42, 88, 133) none 0px;
    transform: rotate(270deg);
    /*animation: rotating 2s linear infinite;*/
}/*#arrow_down*/

#arrow_down:before {
    background-position: 2px -324px;
    bottom: 1.5px;
    color: rgb(42, 88, 133);
    content: '';
    cursor: pointer;
    display: block;
    height: 15px;
    left: 18px;
    opacity: 0.7;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    z-index: 0;
    column-rule-color: rgb(42, 88, 133);
    background: rgba(0, 0, 0, 0) url("../icons/im_actions.png") no-repeat scroll 2px -324px / auto padding-box border-box;
    border: 0px none rgb(42, 88, 133);
    margin: -8.5px 0px 0px -10px;
    outline: rgb(42, 88, 133) none 0px;
}/*#arrow_down:before*/