.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.dialogs_list li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.dialogs_list li:hover {
    color: #607D8B;
    background-color: #DDD;
}
.dialogs .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.dialogs_list {
    box-shadow: rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    box-sizing: border-box;
    min-height: 100%;
    text-align: left;
    position: relative;
    top: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 550px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 13px / 15.002px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
}/*.dialogs_list*/

.dialog_li {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 71px;
    width: 550px;
    padding: 0px 0px 0px 25px;
}/*.dialog_li*/

.user_avatar_div {
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    float: left;
    height: 50px;
    text-align: left;
    width: 50px;
    perspective-origin: 32px 34.5px;
    transform-origin: 32px 34.5px;
    border: 0px none rgb(255, 255, 255);
    padding: 11px 14px 8px 0px;
}/*.user_avatar_div*/

.user_avatar_inner_div {
    color: rgb(42, 88, 133);
    height: 51px;
    width: 52px;
    column-rule-color: rgb(42, 88, 133);
    perspective-origin: 26px 25.5px;
    transform-origin: 26px 25.5px;
    border: 0px none rgb(42, 88, 133);
    outline: rgb(42, 88, 133) none 0px;
}/*.user_avatar_inner_div*/

.user_avatar {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
    text-align: left;
    column-rule-color: rgba(0, 0, 0, 0);
    perspective-origin: 25px 25px;
    transform-origin: 25px 25px;
    border: 0px none rgba(0, 0, 0, 0);
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 1px 2px;
    outline: rgba(0, 0, 0, 0) none 0px;
    background: rgb(250, 251, 252) url("https://vk.com/images/camera_100.png") repeat scroll 0% 0% / cover padding-box border-box;
}/*.user_avatar*/

.mini_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
    border-radius: 50% 50% 50% 50%;
    float:left;
    margin: 0.5px 0.5px 0.5px 0.5px;
}

.top_left_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
    border-radius: 100% 0% 0% 0%;
    float:left;
    margin: 0px 0.5px 0.5px 0px;
}

.top_right_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 100% 0% 0%;
    margin: 0px 0px 0.5px 0.5px;
}

.bottom_left_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 0% 0% 100%;
    float: left;
    margin: 0.5px 0.5px 0px 0px;
}

.bottom_right_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 0% 100% 0%;
    margin: 0.5px 0px 0px 0.5px;
}

.online:after {
    bottom: 25%;
    border: 2px solid #fff;
    height: 8px;
    width: 8px;
    content: '';
    position: absolute;
    background-color: #8ac176;
    border-radius: 50%;
    margin-left: 5px;
}

.dialog_div {
    bottom: 0px;
    cursor: pointer;
    height: 71px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 446px;
    border-top: 1px solid rgb(231, 232, 236);
    margin: 0px 0px 0px 64px;
    padding: 0px 15px 0px 0px;
}/*.dialog_div*/

.dialog_content_div {
    box-sizing: border-box;
    padding: 10px 0px;
}/*.dialog_content_div*/

.last_message_date {
    bottom: 40px;
    color: rgb(147, 147, 147);
    height: 14px;
    left: 360px;
    opacity: 0.7;
    text-align: right;
    position: absolute;
    right: 15px;
    top: 17px;
    width: 90px;
    z-index: 0;
    column-rule-color: rgb(147, 147, 147);
    border: 0px none rgb(147, 147, 147);
    outline: rgb(147, 147, 147) none 0px;
}/*.last_message_date*/

.dialog_title_div {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(34, 34, 34);
    display: inline-block;
    bottom: 0px;
    cursor: pointer;
    height: 19px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 446px;
    margin: 6px 0px 4px;
    column-rule-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
}/*.dialog_title_div*/

.dialog_title_span {
    height: 15px;
    max-width: 70%;
    width: 89.3281px;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
    padding: 0px 0px 1px;
}/*.dialog_title_span*/

.message_body {
    color: rgb(139, 147, 155);
    cursor: pointer;
    height: 15px;
    max-width: 85%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 379.094px;
    column-rule-color: rgb(139, 147, 155);
    border: 0px none rgb(101, 101, 101);
    outline: rgb(139, 147, 155) none 0px;
    overflow: hidden;
    padding: 0px 0px 1px;
}/*.message_body*/

.dialog_attachments {
    color: #4a6f97;
}

.three_dots {
    color: rgb(101, 101, 101);
    content: '"..."';
    display: none;
    vertical-align: bottom;
    column-rule-color: rgb(101, 101, 101);
    animation: typer-simple 1.1s linear 0s infinite normal none running;
    outline: rgb(101, 101, 101) none 0px;
}/*.three_dots*/

.unread_marker {
    bottom: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 8px;
    left: 422px;
    min-width: 6px;
    position: absolute;
    right: 15px;
    text-align: center;
    text-indent: -99px;
    top: 55px;
    width: 8px;
    column-rule-color: rgb(255, 255, 255);
    background: rgba(147, 173, 200, 0.901961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal 500 normal 11px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    list-style: none outside none;
    margin: -12px 1px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*.unread_marker*/

.unread_count {
    bottom: 13px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 18px;
    left: 413px;
    min-width: 6px;
    position: absolute;
    right: 14px;
    text-align: center;
    top: 57px;
    width: 7px;
    column-rule-color: rgb(255, 255, 255);
    background: rgb(114, 147, 182) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 18px 18px 18px 18px;
    font: normal normal 500 normal 11px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    list-style: none outside none;
    margin: -17px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 6px;
}/*.unread_count*/

.load_old {
    cursor: pointer;
    width: 100%;
    bottom: 0px;
    height: 30px;
    text-align: center;
    position: relative;
    margin: 0px 0px 0px;
    padding: 10px 0px 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(231, 232, 236);
}

.load_old:hover {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(66, 100, 139, 0.1), rgb(255, 255, 255)) !important;
}

.load_old_link {
    width: 50%;
    text-align: center;
    font: normal normal 500 normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px;
    text-decoration: underline;
}

.arrow_down {
    bottom: 0px;
    color: rgb(42, 88, 133);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    vertical-align: middle;
    width: 36px;
    column-rule-color: rgb(42, 88, 133);
    border: 0px none rgb(42, 88, 133);
    font: normal normal normal normal 13px / 15.002px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(42, 88, 133) none 0px;
    transform: rotate(270deg);
    /*animation: rotating 2s linear infinite;*/
}/*.arrow_down*/

.arrow_down:before {
    background-position: 2px -324px;
    bottom: 1.5px;
    color: rgb(42, 88, 133);
    content: '';
    cursor: pointer;
    display: block;
    height: 15px;
    left: 18px;
    opacity: 0.7;
    position: absolute;
    right: 8px;
    text-align: left;
    top: 8px;
    width: 20px;
    z-index: 0;
    column-rule-color: rgb(42, 88, 133);
    background: rgba(0, 0, 0, 0) url("../icons/im_actions.png") no-repeat scroll 2px -324px / auto padding-box border-box;
    border: 0px none rgb(42, 88, 133);
    font: normal normal normal normal 13px / 15.002px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: -8.5px 0px 0px -10px;
    outline: rgb(42, 88, 133) none 0px;
}/*.arrow_down:before*/

.chat_action {
    font-style: italic;
}