#input_box {
    bottom: 0px;
    cursor: text;
    height: 30px;
    left: 0px;
    position: fixed;
    overflow: scroll;
    z-index: 800;
    right: 0px;
    text-align: left;
    top: 45px;
    perspective-origin: 189px 35px;
    transform-origin: 189px 35px;
    /*border-top: 15px solid rgba(0, 0, 0, 0);*/
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box;
    font: normal normal normal normal 13px / 15.002px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px;
    /*border-bottom: 1px solid rgb(231, 232, 236);*/
}/*#input_box*/

#input_label {
    box-sizing: border-box;
    bottom: 31px;
    color: rgb(130, 130, 130);
    cursor: text;
    left: 5.5%;
    position: absolute;
    text-align: left;
    top: 5px;
    width: 90%;
    height: 100%;
    z-index: 50;
    column-rule-color: rgb(130, 130, 130);
    perspective-origin: 189px 0px;
    transform-origin: 189px 0px;
    font: normal normal normal normal 13px / 16px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(130, 130, 130) none 0px;
    padding: 1px;
    transition: color 0.2s ease 0s;
    /*border-bottom: 1px solid rgb(231, 232, 236);*/
}/*#message_input*/

#message_input {
    bottom: 31px;
    color: rgb(130, 130, 130);
    cursor: text;
    left: 5%;
    position: absolute;
    text-align: left;
    top: 5px;
    height: 100%;
    width: 90%;
    resize: none;
    z-index: 30;
    column-rule-color: rgb(130, 130, 130);
    perspective-origin: 189px 0px;
    transform-origin: 189px 0px;
    /* border: none 1px rgba(0, 0, 0, 0); */
    border: none;
    font: normal normal normal normal 13px / 16px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(130, 130, 130) none 0px;
    padding-bottom: 5px;
    transition: color 0.2s ease 0s;
    /* border-bottom: 1px solid rgb(231, 232, 236); */
}/*#message_input*/

#hline {
    bottom: 31px;
    color: rgb(130, 130, 130);
    left: 5%;
    position: absolute;
    bottom: 0px;
    height: 1px;
    width: 90%;
    z-index: 30;
    column-rule-color: rgb(130, 130, 130);
    /* border: none 1px rgba(0, 0, 0, 0); */
    outline: rgb(130, 130, 130) none 0px;
    padding-bottom: 5px;
    transition: color 0.2s ease 0s;
    border-bottom: 1px solid rgb(231, 232, 236);
}/*#hline*/

