<h1>{{title}}</h1>
<button (click)="ngOnInit()">refresh</button>
<ul id="dialogs_list">
    <li *ngFor="let dialog of dialogs" (click)="gotoDialog(dialog)" id="dialog_li">
        <div id="user_avatar_div">
			<div><div><div>
				<div id="user_avatar_inner_div">
					<img alt="" [src]="dialog.chat_id ? 'http://vk.com/images/camera_c.gif' : getUserPhoto(dialog.user_id)" width="50" height="50" id="user_avatar" />
				</div>
			</div></div></div>
		</div>

		<div id="dialog_div">
			<div id="dialog_content_div">
				<div id="last_message_date">
					{{convertDate(dialog.date)}}
				</div>
				<div id="dialog_title_div">
					 <span id="dialog_title_span">
                        <span>
                             {{dialog.title === ' ... ' ? getUserName(dialog.user_id) : dialog.title}}
                        </span>
                    </span>
				</div>
				<div id="message_body">
				    <span>
                        <span>
                             {{(dialog.out ? user.first_name : getUserName(dialog.user_id)) + ': '}}
                        </span>
                        {{dialog.body}}
                    </span>
                    <span id="three_dots">...</span>
				</div>
				<div id="unread_marker" [hidden]="dialog.read_state"></div>
			</div>
		</div>
    </li>
<ul>