<div id="top_panel">
	<a (click)="goBack()" id="go_back"> 
		<div id="left_arrow"></div>
		<h1 id="dialog_title">{{title}}</h1>
	</a>
	<button id="send_btn" (click)="sendMessage()">Send</button>
	<button id="mark_as_read_btn" (click)="markAsRead()" [hidden]="!history || !history[0] || history[0].out || history[0].read_state">Mark as read</button>
</div>
<div id="input_box">
	<label id="input_label" for="message_input">Type your text here…</label>
	<textarea id="message_input" #minput (click)="clearLabelContent()" (keydown)="onKeyPress($event,minput.value)" [(ngModel)]="current_text"></textarea>
	<div id="hline"></div>
</div>
<div id="chat_body">
	<div class="message_block" *ngFor="let message of history">
		<div class="unread" [hidden]="message.read_state"></div>
		<div class="user_avatar">
			<img alt="" [src]="message.out ? getUserPhoto(user_id) : getUserPhoto(message.user_id)" class="user_avatar_img" />
		</div>
		<div class="message">
			<div class="user_name_and_date">
				<a class="user_name">{{message.out ? getUserName(user_id) : getUserName(message.user_id)}}</a>
                <span class="message_timestamp"> {{message.date*1000 | date:formatDate(message.date) }}</span>
			</div>
			<ul class="messages_list">
				<li class="message_item">
					<div class="message_body">
						<div class="message_body_internal">
							{{message.body}}<div class="message_attachment" [hidden]="true"></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="load_old" (click)="loadOldMessages()" [hidden]="messages_count && messages_count === history.length">
		<div id="arrow_down"></div>
		<a id="load_old_link">Load previous messages</a>
	</div>
</div>