<h1>{{title}}</h1>
<button (click)="ngOnInit()">refresh</button>
<ul id="dialogs_list">
    <li *ngFor="let dialog of dialogs" (click)="gotoDialog(dialog)" id="dialog_li">
        <div id="user_avatar_div">
			<div><div><div>
				<div id="user_avatar_inner_div">
					<img alt="" src="https://pp.vk.me/c633322/v633322814/2bbb3/SsIXFCGkFCA.jpg" width="50" height="50" id="user_avatar" />
				</div>
			</div></div></div>
		</div>
		<div id="dialog_div">
			<div id="dialog_content_div">
				<div id="last_message_date">
					{{convertDate(dialog.message.date)}}
				</div>
				<div id="dialog_title_div">
					 <span id="dialog_title_span">
                        <span>
                             {{dialog.message.title === ' ... ' ? dialog.message.user_id : dialog.message.title}}
                        </span>
                    </span>
				</div>
				<div id="message_body">
				    <span>
                        <span>
                             {{(dialog.message.out ? user.user_name : dialog.message.user_id) + ': '}}
                        </span>
                        {{dialog.message.body}}
                    </span>
                    <span id="three_dots">...</span>
				</div>
			</div>
		</div>
    </li>
<ul>