#chat_spacer {
    position: absolute;
    padding-top: 110px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#chat_body {
    position: relative;
    width: 100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 0px 0px;
    transition: height .5s;
}

.max-width-80 {
    max-width: 80%;
}

.message-block {
    position: relative;
    width: 100%;
    min-height: 55px;
    height: fit-content;
    padding-left: 10px;
}

.message-attachment {
    height: fit-content;
    color: #4a6f97;
    position: relative;
    z-index: 50;
    padding: 5px;
}

.round-corners-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.round-corners-top {
    border-top-right-radius: 10px;
}

.message {
    width: fit-content;
    margin-left: 10px;
    width: calc(100% - 50px);
    float: left;
}

.messages-list {
    width: fit-content;
    max-width: calc(100% - 50px);
    list-style: none outside none;
    padding-left: 0px;
    position: relative;
}

.message-item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    list-style: none outside none;
    margin: 4px 0 0 0;
}

.message-body {
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.chat_action {
    font: normal italic bold normal 13px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    color: #777;
    min-height: 35px;
}

.top-buffer {
    margin-top: 10px;
}

.inline {
    display: inline-block;
}

.left-buffer {
    margin-left: 10px;
}

.user-avatar {
    float: left;
}

:host(.forwarded) .message-block {
    max-width: 100%;
    padding-left: initial;
}

:host(.forwarded) .left-buffer {
    margin-left: 4px;
}

:host(.forwarded) .user-avatar {
    float: none;
    display: inline-block;
}

:host(.forwarded) .message {
    float: none;
    display: block;
    margin-left: 4px;
    width: initial;
}

:host(.forwarded) .message-attachment {
    padding-top: 3px; 
    margin-left: 4px;
}

:host(.forwarded) .messages-list {
    max-width: 100%;
}