<div style="display:inline" (click)="closePopupMenu()">
<div id="topPanel" (mouseleave)="hideButtons()">
	<a (click)="goBack()" class="btn-back" *ngIf="backIsAvailable"> 
		<div class="material-icons pull-left">keyboard_arrow_left</div>
		<h1 id="dialog_title" class="pull-left">{{ title }}</h1>
	</a>
	<a href="https://vk.com/im" target="_blank" class="btn-back space-left outline-none" *ngIf="!backIsAvailable"> 
		<h1 id="dialog_title" class="pull-left">{{ mainTitle }}</h1>
	</a>
	<div style="display:inline" *ngIf="!showRoundButtons">
		<button class="btn-menu material-icons ontop pull-right" (click)="openMenu($event)" title="Settings">more_vert</button>
	</div>
	<div style="display:inline" *ngIf="showRoundButtons">
		<button [@rotateLeftRight]="rotateSettings" class="btn btn-info btn-round pull-right material-icons ontop" (mouseover)="showButtons()" (click)="openSettings()" title="Settings">settings</button>
		<button [@flyInOut]="showActions" class="btn btn-info btn-round pull-right material-icons" (click)="openSeparateWindow()" title="In window">open_in_new</button>
		<button [@flyInOut]="showActions" class="btn btn-info btn-round pull-right material-icons" (click)="goToConversation()" title="In VK">open_in_browser</button>
		<button [@flyInOut]="showActions" class="btn btn-info btn-round pull-right material-icons" (click)="logOff()" title="Log off">power_settings_new</button>
	</div>
    <!--<a class="pull-right" style="color:white">{{stopWatch | async}}</a>-->
</div>
<div id="menuWrapper" class="ontop" *ngIf="isPopupMenuOpened">
	<popup-menu [state]="isPopupMenuOpened" [menuItems]="popupMenuItems" (onSelect)="onMenuItemSelect($event)"></popup-menu>
</div>
<div id="content">
	<router-outlet></router-outlet>
</div>
</div>