#topPanel {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    height: 45px;
    text-align: left;
    vertical-align: top;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
    padding: 10px 5px 10px 10px;
    display: flex;
}

.btn-menu {
    outline: none;
    border: none;
    background: none;
    color: white;
    max-width: 36px;
    flex: 1;
    /*font-size: 25px;*/
}

.search-bar {
    flex: 1;
    display: inline-block;
}

.unread-count {
    position: absolute;
    bottom: -3px;
    right: -3px;
    font-weight: bold;
    background-color: red;
}

.outline-none {
    outline: none;
}

#menuWrapper {
    position: absolute;
    right: 30px;
    top: 40px;
}

.btn-back {
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.space-left {
    margin-left: 10px;
}

#go_back:hover {
    background-color: rgba(42, 88, 133, 0.1) !important;
    border-radius: 0 20px 20px 0;
    /*background-image: linear-gradient(to right, rgba(42, 88, 133, 0.1), #eff0f1);*/
}

#dialog_title {
    color: white;
    cursor: pointer;
    display: inline-block;
    max-width: 235px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    font: normal normal bold normal 13px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px 3px 0px 0px;
    overflow: hidden;
    padding-top: 3px;
}

.ontop {
    z-index: 999;
    display: inline-block;
    position: relative;
}

div[tabindex] {
    outline: none;
}