<div id="topPanel" (mouseleave)="hideButtons()">
	<a (click)="goBack()" class="btn-back" *ngIf="backIsAvailable"> 
		<div class="material-icons pull-left">keyboard_arrow_left</div>
		<h1 id="dialog_title" class="pull-left">{{ title }}</h1>
	</a>
	<a href="https://vk.com/im" class="btn-back space-left" *ngIf="!backIsAvailable"> 
		<h1 id="dialog_title" class="pull-left">{{ mainTitle }}</h1>
	</a>
    <button [@rotateLeftRight]="rotateSettings" class="btn btn-info btn-round pull-right material-icons ontop" (mouseover)="showButtons()">settings</button>
    <button [@flyInOut]="showActions" class="btn btn-danger btn-round pull-right material-icons" (click)="logOff()">power_settings_new</button>
    <button [@flyInOut]="showActions" class="btn btn-success btn-round pull-right material-icons" (click)="openSeparateWindow()">open_in_new</button>
    <button [@flyInOut]="showActions" class="btn btn-info btn-round pull-right material-icons" (click)="goToConversation()">open_in_browser</button>
    <!--<a class="pull-right" style="color:white">{{stopWatch | async}}</a>-->
</div>
<router-outlet></router-outlet>