<div [style.width]="windowWidth" [style.height]="windowHeight" (click)="closePopupMenu()">
<div id="topPanel" (mouseleave)="hideButtons()" class="primary-color text-normal">
	<a (click)="goBack()" class="btn-back text-normal" *ngIf="backIsAvailable"> 
		<div class="material-icons pull-left">keyboard_arrow_left</div>
		<h1 id="dialog_title" class="pull-left">{{ title }}</h1>
	</a>
	<a href="https://vk.com/im" target="_blank" class="btn-back space-left outline-none" *ngIf="!backIsAvailable"> 
		<h1 id="dialog_title" class="pull-left">{{ mainTitle }}</h1>
	</a>
	<button class="btn-menu material-icons ontop pull-right" (click)="openMenu($event)" title="Settings">more_vert</button>
</div>
<div id="menuWrapper" class="ontop" *ngIf="isPopupMenuOpened">
	<popup-menu
		[selectable]="true"
		[deletable]="false"
		[state]="isPopupMenuOpened"
		[menuItems]="popupMenuItems"
		(onSelect)="onMenuItemSelect($event)">
	</popup-menu>
</div>
<div id="content">
	<router-outlet></router-outlet>
</div>
</div>