<div #conversationsWrapper id="conversationWrapper"
	[style.height]="topPanel | safeStyle"
	(scroll)="onScroll(conversationsWrapper.scrollTop, conversationsWrapper.scrollHeight)"
	>
	<messages-list
		[conversation_id]="conversation_id"
		[is_chat]="is_chat"
		[markAsRead]="markAsRead"
		[historyUpdate]="historyUpdate"
	></messages-list>
</div>
<emoji
	[toggle]="onEmojiToggle"
	[emojiPanelPosition]="emojiPanel"
	(onSelect)="onEmojiSelect($event)"></emoji>
<div #inputWrapper id="inputWrapper"
	[style.top]="bottomPanel | safeStyle"
	(mouseleave)="stopResize([conversationsWrapper, inputWrapper], $event)"
	>
	<div id="inputControls" class="row">
		<div
			class="dragBar material-icons primary-color-text"
			(mousedown)="startResize([conversationsWrapper, inputWrapper], $event)"
			(mouseup)="stopResize([conversationsWrapper, inputWrapper], $event)"
		>drag_handle</div>
		<button class="btn btn-round primary-color pull-right material-icons send-padding" [class.disabled]="!sendEnabled" (click)="onSendMessageClick.emit()" title="{{ send | translate }}">send</button>
		<button [@flyInOut]="unreadMessages" class="btn btn-round primary-color pull-right material-icons" (click)="onMarkAsRead()" title="{{ mark_as_read | translate }}">done_all</button>
		<div class="emoji-smile-icon pull-right" (click)="toggleEmoji()"></div>
		<button [@flyInOut]="scrollToBottomAvailable" class="btn primary-color btn-round pull-right material-icons" (click)="scrollToBottom()">play_for_work</button>
		<label for="fileUpload" class="btn primary-color file-upload btn-round pull-right material-icons" [class.disabled]="attachments_uploading_count">attach_file
			<div class="spinner btn-round"></div></label>
		<input id="fileUpload" type="file" (change)="uploadFile($event)">
	</div>
	<message-input
		[conversation_id]="conversation_id"
		[is_chat]="is_chat"
		[selectEmoji]="selectEmoji"
		[onSendMessageClick]="onSendMessageClick"
		[attachment]="attachment"
		[attachmentUploaded]="attachmentUploaded"
		(onMessageSent)="messageSent($event)"
	></message-input>
</div>