#conversationWrapper {
    position: absolute;
    top: 45px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    box-sizing: border-box;
    display: block;
    background-color: #ebf0f4;
}

#fileUpload {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    left: -100px;
}

.file-upload {
    padding: 3px;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

#inputWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 100;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.dragBar {
    width: calc(100% - 100px - 4 * 35px);
    height: 30px;
    position: relative;
    display: inline-block;
    margin: 0 5px 0;
    font-size: 30px;
    cursor: row-resize;
}

#inputControls {
    height: 40px;
    padding: 5px 50px;
    border-bottom: 1px solid rgb(200, 200, 200);
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);*/
}

.send-padding {
    padding-left: 3px;
}

.emoji-smile-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0;
    margin-left: 5px;
    background: url(http://abs.twimg.com/emoji/v2/72x72/1f642.png) no-repeat;
    background-size: 100%;
}