#conversationWrapper {
    position: absolute;
    top: 45px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

#inputWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 100;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.26);
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.dragBar {
    width: 140px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin: 0 5px 0;
    color: gray;
    font-size: 30px;
    cursor: row-resize;
}

#inputControls {
    height: 40px;
    padding: 5px 50px;
    border-bottom: 1px solid rgb(200, 200, 200);
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);*/
}

.emoji_smile_icon {
    margin: 3px 0 3px 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(http://abs.twimg.com/emoji/v2/72x72/1f642.png) no-repeat;
    background-size: 100%;
}