<ul class="dialogs_list">
    <li *ngFor="let dialog of dialogs_to_show" (click)="gotoDialog(dialog.message)" class="dialog_li" id="{{ dialog.message.chat_id || dialog.message.user_id }}">
		<div class="user_avatar_div">
			<div class="user_avatar_inner_div">
				<div *ngFor="let img of dialog.photos">
					<img [src]="img" class="user_avatar" [class.mini_avatar]="dialog.photos.length > 1" />
				</div>
			</div>
		</div>

		<div class="dialog_div">
			<div class="dialog_content_div">
				<div class="last_message_date">
					{{dialog.message.date*1000 | date:dialog.date_format}}
				</div>
				<div class="dialog_title_div">
					 <span class="dialog_title_span">
                        <span [class.online]="dialog.online">{{dialog.title}}</span>
                    </span>
				</div>
				<div class="message_body">
				    <span>
                        <span>{{dialog.sender + ': '}}</span>
                        {{dialog.message.body}}<span class="dialog_attachments" *ngIf="dialog.attachment_only">[{{ 'attachment.' + dialog.attachment_type | translate }}]</span>
						<span class="chat_action dialog_attachments" *ngIf="!dialog.message.body && dialog.message.action">[{{ dialog.message | chat_action | translate:{"user": getUserName(dialog.message.user_id), "user2": getUserName(dialog.message.action_mid)} }}]</span>
                    </span>
                    <span class="three_dots">...</span>
				</div>
				<div class="unread_marker" [hidden]="dialog.message.read_state"></div>
				<div class="unread_count" [hidden]="!dialog.unread">{{dialog.unread}}</div>
			</div>
		</div>
    </li>
	<div class="load_old" (click)="loadOldDialogs()" [hidden]="dialogs_count && dialogs_count === dialogs.length">
		<div class="arrow_down"></div>
		<a class="load_old_link">{{ 'load_previous_messages' | translate }}</a>
	</div>
</ul>