.selected {
    background-color: #CFD8DC !important;
    color: white;
}

li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

li:hover {
    color: #607D8B;
    background-color: #DDD;
}

.dialogs .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.dialogs-list {
    box-sizing: border-box;
    height: calc(100% - 45px);
    width: 100%;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 2px 2px 2px 2px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.dialog-li {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 71px;
    width: 100%;
    padding: 0 0 0 15px;
}

.user-avatar-div {
    cursor: pointer;
    height: 52px;
    width: 52px;
    display: inline-block;
}

.user_avatar {
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
    border: 0px none rgba(0, 0, 0, 0);
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 1px 2px;
    background: rgb(250, 251, 252) url("https://vk.com/images/camera_100.png") repeat scroll 0% 0% / cover padding-box border-box;
}

.mini_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 50% 50%;
    margin: 0.5px 0.5px 0.5px 0.5px;
}

.top_left_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
    border-radius: 100% 0% 0% 0%;
    float:left;
    margin: 0px 0.5px 0.5px 0px;
}

.top_right_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 100% 0% 0%;
    margin: 0px 0px 0.5px 0.5px;
}

.bottom_left_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 0% 0% 100%;
    float: left;
    margin: 0.5px 0.5px 0px 0px;
}

.bottom_right_avatar {
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0% 0% 100% 0%;
    margin: 0.5px 0px 0px 0.5px;
}

.online:after {
    border: 2px solid #fff;
    height: 12px;
    width: 12px;
    content: '';
    position: absolute;
    background-color: #8ac176;
    border-radius: 50%;
    margin-left: 5px;
}

.dialog-div {
    cursor: pointer;
    height: 71px;
    position: relative;
    border-top: 1px solid rgb(231, 232, 236);
    margin: 0;
    padding: 10px 15px 0px 0px;
}

.dialog-content-div {
    box-sizing: border-box;
    padding: 0;
    margin-left: 10px;
    width: calc(100% - 65px);
}

.last-message-date {
    color: rgb(147, 147, 147);
    opacity: 0.7;
}

@media screen and (max-width: 300px) {
    .last-message-date {
        display: none;
    }
}

@media screen and (max-width: 100px) {
    .dialog-content-div {
        display: none;
    }
}

.dialog-title-div {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(34, 34, 34);
    cursor: pointer;
    height: 19px;
    text-align: left;
    width: 50%;
    margin: 0;
    display: inline-block;
}

.dialog-title-span {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.message_body {
    color: rgb(139, 147, 155);
    cursor: pointer;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
}

.dialog_attachments {
    color: #4a6f97;
}

.unread-marker {
    bottom: 8px;
    height: 8px;
    width: 8px;
    background: rgba(147, 173, 200, 0.9);
    border-radius: 50%;
    position: relative
}

.unread-count {
    bottom: 13px;
    color: white;
    height: 18px;
    min-width: 6px;
    width: fit-content;
    right: -8px;
    text-align: center;
    background: rgb(114, 147, 182);
    border-radius: 50%;
    font: normal normal 500 normal 11px / 18px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0px 6px;
    box-sizing: border-box;
    position: relative;
}

.borderless {
    border: none;
}

#load_old {
    cursor: pointer;
    width: 100%;
    bottom: 0px;
    height: 50px;
    text-align: center;
    position: relative;
    padding-top: 10px;
}

#load_old:hover {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(66, 100, 139, 0.1), rgb(255, 255, 255)) !important;
}

.chat_action {
    font-style: italic;
}