<div #conversationsWrapper id="conversationWrapper"
	[style.height]="topPanel | safeStyle"
	(scroll)="onScroll(conversationsWrapper.scrollTop, conversationsWrapper.scrollHeight)"
	>
	<messages-list
		[conversation_id]="conversation_id"
		[is_chat]="is_chat"
		[markAsRead]="markAsRead"
		[historyUpdate]="historyUpdate"
	></messages-list>
</div>
<emoji (onSelect)="onEmojiSelect($event)"></emoji>
<div #inputWrapper id="inputWrapper"
	[style.top]="bottomPanel | safeStyle"
	(mouseleave)="stopResize([conversationsWrapper, inputWrapper], $event)"
	>
	<div id="inputControls" class="row">
		<div 
			class="dragBar material-icons"
			(mousedown)="startResize([conversationsWrapper, inputWrapper], $event)"
			(mouseup)="stopResize([conversationsWrapper, inputWrapper], $event)"
		>drag_handle</div>
		<button class="btn btn-success btn-round pull-right material-icons send-padding" [class.disabled]="onMessageSent | async" (click)="onSendMessageClick.emit()">send</button>
		<button [@flyInOut]="unreadMessages" class="btn btn-warning btn-round pull-right material-icons" (click)="onMarkAsRead()	">done_all</button>
		<div class="emoji_smile_icon pull-right" (click)="toggleEmoji()"></div>
		<button [@flyInOut]="scrollToBottomAvailable" class="btn btn-info btn-round pull-right material-icons" (click)="scrollToBottom()">play_for_work</button>
	</div>
	<message-input
		[conversation_id]="conversation_id"
		[is_chat]="is_chat"
		[selectEmoji]="selectEmoji"
		[onSendMessageClick]="onSendMessageClick"
		(onMessageSent)="messageSent($event)"
	></message-input>
</div>