<ul class="dialogs-list">
    <li *ngFor="let dialog of dialogs_to_show; let isFirst=first" (click)="gotoDialog(dialog.message)" class="dialog-li" id="{{ dialog.message.chat_id || dialog.message.user_id }}">
		<div class="dialog-div" [class.borderless]="isFirst">
			<div class="user-avatar-div pull-left">
				<div *ngFor="let img of dialog.photos">
					<img [src]="img" class="user_avatar pull-left" [class.mini_avatar]="dialog.photos.length > 1" />
				</div>
			</div>
			<div class="dialog-content-div pull-left">
				<div class="dialog-title-div">
					 <span [class.online]="dialog.online" class="dialog-title-span">{{dialog.title}}</span>
				</div>
				<div class="last-message-date pull-right">{{dialog.message.date*1000 | date:dialog.date_format}}</div>
				<div class="message_body">
					<span [innerHtml]="dialog.sender + ': ' + dialog.message.body | emoji | safe"></span>
                    <span class="dialog_attachments" *ngIf="dialog.attachment_only">[{{ 'attachment.' + dialog.attachment_type | translate }}]</span>
					<span class="chat_action dialog_attachments" *ngIf="!dialog.message.body && dialog.message.action">[{{ dialog.message | chatAction | translate:{"user": getUserName(dialog.message.userId), "user2": getUserName(dialog.message.actionMid)} }}]</span>
				</div>
				<div class="unread-marker pull-right" *ngIf="!dialog.message.isRead"></div>
				<div class="unread-count pull-right" *ngIf="dialog.unread">{{dialog.unread}}</div>
			</div>
		</div>
    </li>
	<div id="load_old" (click)="loadOldDialogs()" *ngIf="dialogs_count && dialogs_count > dialogs.length">
		<i class="material-icons">history</i>
	</div>
</ul>