#input_box {
    bottom: 0px;
    cursor: text;
    height: fit-content;
    width: 100%;
    left: 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 800;
    right: 0px;
    text-align: left;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box;
    font: normal normal normal normal 13px / 15.002px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px;
    padding: 5px 0px 0px 0px;
}/*#input_box*/

#input_label {
    box-sizing: border-box;
    bottom: 31px;
    color: rgb(130, 130, 130);
    cursor: text;
    left: 15px;
    position: absolute;
    text-align: left;
    top: 9px;
    width: 90%;
    height: 100%;
    z-index: 50;
    column-rule-color: rgb(130, 130, 130);
    font: normal normal normal normal 13px / 16px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(130, 130, 130) none 0px;
    padding: 5px 5% 10px 5%;
    transition: color 0.2s ease 0s;
}/*#input_label*/

#message_input {
    box-sizing: border-box;
    left: 5%;
    top: 5px;
    width: 90%;
    cursor: text;
    position: relative;
    max-height: 200px;
    min-height: 55px;
    overflow-wrap: break-word;
    text-align: left;
    outline: none;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(228, 230, 233);
    border-radius: 1px 1px 1px 1px;
    font: normal normal normal normal 13px / 16px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    overflow: auto;
    padding: 6px 37px 7px 15px;
    transition: border-bottom-color 0.3s linear 0s;
    margin-bottom: 5px;
    z-index: 55;
}/*#message_input*/