#emoji_control {
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    background: #FFFFFF;
    position: fixed;
    right: 70px;
    width: 290px;
    height: 0;
    padding: 5px 3px 10px 3px;
    z-index: 9999;
}

#emoji_wrapper {
    position: relative; 
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 30px);
    padding: 5px 0 5px 0;
    background-color: #EEEEEE;
    border-radius: 0 0 5px 5px;
}

#emoji_wrapper > div {
    display: inline-block;
    position: absolute;
    top: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  background: 0 0;
  color: rgba(0, 0, 0, .7);
  cursor: pointer;
  font-size: 17px;
  border: 0;
  padding: 0 2px 0 2px;
}

.emoji-header {
  background-color: #FFFFFF;
  max-height: 17%;
}

button:active {
  background-color: #CCCCCC;
  outline: none;
}

.selected-item {
    background-color: #EEEEEE;
    border-radius: 5px 5px 0 0;
    outline: none;
}

.hor-flex-parent {
  display: flex !important;
  flex-direction: row;
  width: 100%;
}

.flex-kid {
  flex: 0;
}

.flex-outcast {
  flex: none;
}

.menu-tabs > .menu-item {
  text-align: center;
}

.menu-item::active {
    background-color: yellow;
}