#auth {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 78px;
    width: 334px;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 17.1429px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px;
}

p {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 34px;
    width: 334px;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 17.1429px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
    font: normal normal normal normal 12.5px / 15px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

#auth_btn {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    text-align: center;
    white-space: nowrap;
    width: 95px;
    column-rule-color: rgb(255, 255, 255);
    background: rgb(94, 129, 168) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12.5px / 15px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

