:host {
    position: absolute;
    top: 45px;
}

#auth {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 78px;
    width: 334px;
    border: none;
    font: normal normal normal normal 12px / 15px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    box-sizing: border-box;
    height: 34px;
    width: 334px;
    border: none;
    margin: 0px 0px 10px;
    font: inherit;
}

#auth_btn {
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    text-align: center;
    white-space: nowrap;
    border: none;
    border-radius: 2px 2px 2px 2px;
    font: inherit;
    font-weight: bold;
}

