<div id="inputBox" class="row">
	<label *ngIf="inputLabelVisible" class="input-label text-normal" for="message_input">{{ 'type_text_here' | translate }}</label>
	<div #minput class="message-input pull-left text-normal border-primary"
		contenteditable="true"
		id="message_input"
		(blur)="showLabelContent(getText(minput.childNodes))"
		(keydown)="onKeyPress($event, minput)"
		(input)="onInput($event)"
		(paste)="removeStyle(minput.childNodes)"
	></div>
</div>
<!--<div class="attach_photo_icon"></div>-->