.user-name-and-date {
    color: rgb(147, 147, 147);
    height: 16px;
}

.user-name {
    color: rgb(66, 100, 139);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    max-width: 150px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    border: 0px none rgb(66, 100, 139);
    font: normal normal bold normal 12px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgb(66, 100, 139) none 0px;
    overflow: hidden;
}

.message-timestamp {
    color: rgba(148, 148, 148, 0.6);
    border: 0px none rgba(148, 148, 148, 0.6);
    font: normal normal normal normal 12px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgba(148, 148, 148, 0.6) none 0px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 4px;
    display: inline-block
}

.block {
    display: block;
    margin-left: 0;
}