@mixin spinner($h, $w, $border-width) {
    height: $h;
    width: $w;
    border-radius: 50%;
    border-top: $spinner-border-style $spinner-border-color-light;
    border-right: $spinner-border-style $spinner-border-color-light;
    border-bottom: $spinner-border-style $spinner-border-color-light;
    border-left: $spinner-border-style $spinner-border-color-dark;
    border-width: $border-width;
    transform: rotate(270deg);
    animation: rotating 2s linear infinite;
    opacity: 0.7;
}