<div class="dialog-list-container" [ngStyle]="{ height: containerHeight }">
	<div class="dialog-list-filter-container">
		<app-dialog-list-filter
			[items]="foundDialogs"
			[filterUnread]="dialogListFilters.unread"
			(filterUnreadChange)="onFilterUnreadChange($event)"
			(onInput)="search($event)"
			(onSelect)="onDialogSelect($event)"
			[focus]="searchFocus"
		></app-dialog-list-filter>
	</div>
	<ul class="dialogs-list" (scroll)="onScroll($event)">
		<li *ngIf="!dialogsToShow.length" class="dialogs-list__empty-warning">{{ 'noUnreadDialogs' | translate }}</li>
		<li *ngFor="let dialog of dialogsToShow; let isFirst=first; trackBy:trackByDialogId" (click)="gotoDialog(dialog.message)" class="dialog-li" id="{{ dialog.message.conversationId }}">
			<div class="dialog-div" [class.borderless]="isFirst">
				<div class="user-avatar-div">
					<div *ngFor="let img of dialog.photos" class="clearfix pull-left">
						<img [src]="img | safeResourceUrl" class="user_avatar" [class.mini_avatar]="dialog.photos.length > 1" />
					</div>
				</div>
				<div class="dialog-content-div">
					<div class="dialog-content-text">
						<div class="dialog-title-div">
							 <span [class.online]="dialog.online" class="dialog-title-span">{{dialog.title}}</span>
						</div>
						<div class="last-message-date pull-right">{{dialog.message.date*1000 | date:(dialog.message.date | formatDate)}}</div>
						<div class="message_body">
							<span [innerHtml]="dialog.sender + ': ' + dialog.message.body | emoji | safe"></span>
							<span class="dialog_attachments" *ngIf="dialog.attachmentOnly">[{{ 'attachment.' + dialog.attachmentType | translate }}]</span>
							<span class="chat_action dialog_attachments" *ngIf="!dialog.message.body && dialog.message.action">[{{ dialog.message | chatAction:getUserSex(dialog.message?.fromId) | translate:{"user": getUserName(dialog.message.userId), "user2": getUserName(dialog.message.actionMid)} }}]</span>
						</div>
					</div>
					<div class="unread-marker pull-right" *ngIf="!dialog.message.isRead && !dialog.unread"></div>
					<div class="unread-count pull-right" *ngIf="dialog.unread">{{dialog.unread}}</div>
				</div>
			</div>
		</li>
		<div *ngIf="dialogsCount && (dialogsCount > dialogs.length || dialogsCount > shownDialogsCount)">
			<div id="load_old" (click)="loadOldDialogs()" *ngIf="!showOldDialogsLoadingSpinner; else oldDialogsLoadingSpinner">
				<i class="material-icons">history</i>
			</div>
			<ng-template #oldDialogsLoadingSpinner>
				<div class="load-old-dialogs-spinner-container">
					<div class="spinner-small"></div>
				</div>
			</ng-template>
		</div>
	</ul>
</div>