.att-doc-container {
    display: flex;
    padding: 5px;
}

.att-doc {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #42648b;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 16px;
}

.attachment-description {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.att-doc-size {
    color: #939393;
    pointer-events: none;
    text-align: left;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.att-doc-icon {
    flex: 1;
    display: inline-block;
    position: relative;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.att_doc_img {
    background: url("../../icons/doc_icons.png") no-repeat;
}

.att_vid_img {
    background: url("../../icons/doc_icons.png") no-repeat 0px -120px;
}

.att_aud_img {
    background: url("../../icons/doc_icons.png") no-repeat 0px -90px;
}

.att_url_img {
    background: url("../../icons/doc_icons.png") no-repeat 0px -180px;
}

.att_zip_img {
    background: url("../../icons/doc_icons.png") no-repeat 0px -30px;
}