img.emoji {
    display: inline-block;
    color: #428bca;
    text-decoration: none;
    background: 0 0;
    width: 25px;
    height: 25px;
    padding: 3px;
    font-size: 25px;
    font-family: -apple-system EmojiOneColor;
    border: 0;
    vertical-align: middle;
    cursor: text;
}

.message_body > span > img.emoji {
    width: 15px;
    height: 15px;
}

button > img.emoji {
    font-size: 25px;
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

#emoji_wrapper > div > img.emoji {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#emoji_wrapper > div > img.emoji:hover {
    cursor: pointer;
    background-color: rgba(66, 139, 202, .5);
    border-radius: 50%;
}