img.emoji {
    display: inline-block;
    color: #428bca;
    text-decoration: none;
    background: 0 0;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 25px;
    background-position: 0 0;
    border: 0;
}

.message_body > span > .emojicon {
    width: 15px;
    height: 15px;
}

.emojicon {
    display: inline-block;
    position: relative;
    color: #428bca;
    text-decoration: none;
    background: 0 0;
    font-size: 25px;
    width: 25px;
    height: 25px;
    padding: 3px;
    font-family: -apple-system EmojiOneColor;
    background-position: 0 0;
    border: 0;
    vertical-align: middle;
    cursor: text;
}

button > div.emojicon {
    font-size: 25px;
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

#emoji_wrapper > div > .emojicon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#emoji_wrapper > div > .emojicon:hover {
    cursor: pointer;
    outline-style: dashed;
    outline-color: #428bca;
    outline-width: 2px;
}