h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
html, body {
  margin: 0;
  overflow: hidden;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading {
    bottom: 0px;
    color: rgb(42, 88, 133);
    cursor: pointer;
    height: 50px;
    width: 50px;
    top: 225px;
    left: 250px;
    position: absolute;
    vertical-align: middle;
    column-rule-color: rgb(42, 88, 133);
    border: 0px none rgb(42, 88, 133);
    background: rgba(0, 0, 0, 0) url("icons/loading.png");
    outline: rgb(42, 88, 133) none 0px;
    transform: rotate(270deg);
    animation: rotating 2s linear infinite;
    background-size: contain;
    opacity: 0.7;
}/*#loading*/

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    /*background-color: #eaeaea;*/
    border-left: none;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 0;
}

.styleless, #message_input > pre {
    font: normal normal normal normal 13px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif !important;
    color: black;
    cursor: text;
}

img.styleless {
    display: none !important;
}

.white-text {
    color: white;
}

.centering-container {
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

@font-face {
    font-family: "material-icons";
    src: url("MaterialIcons-Regular.woff") format('woff');
}

.material-icons {
    font-family: "material-icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.text-normal {
    font: normal normal normal normal 13px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif !important;
}

*:not(.material-icons) {
    font: normal normal normal normal 13px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}