h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
html, body {
  margin: 0;
  min-height: 150px;
  min-width: 300px;
  overflow: hidden;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading {
    bottom: 0px;
    color: rgb(42, 88, 133);
    cursor: pointer;
    height: 50px;
    width: 50px;
    top: 225px;
    left: 250px;
    position: absolute;
    vertical-align: middle;
    column-rule-color: rgb(42, 88, 133);
    border: 0px none rgb(42, 88, 133);
    background: rgba(0, 0, 0, 0) url("icons/loading.png");
    outline: rgb(42, 88, 133) none 0px;
    transform: rotate(270deg);
    animation: rotating 2s linear infinite;
    background-size: contain;
    opacity: 0.7;
}/*#loading*/

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    /*background-color: #eaeaea;*/
    border-left: none;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 0;
}

.styleless {
    font: normal normal normal normal 13px -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif !important;
    color: black;
    cursor: text;
}

img.styleless {
    display: none !important;
}

.white-text {
    color: white;
}