h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
html, body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 500px;
  width: 550px;
  overflow: hidden;
}

dialogs {
    height: 500px;
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

#messages {
    min-height: 500px;
    width: 550px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading {
    bottom: 0px;
    color: rgb(42, 88, 133);
    cursor: pointer;
    height: 50px;
    width: 50px;
    top: 225px;
    left: 250px;
    position: absolute;
    vertical-align: middle;
    column-rule-color: rgb(42, 88, 133);
    border: 0px none rgb(42, 88, 133);
    background: rgba(0, 0, 0, 0) url("icons/loading.png");
    outline: rgb(42, 88, 133) none 0px;
    transform: rotate(270deg);
    animation: rotating 2s linear infinite;
    background-size: contain;
    opacity: 0.7;
}/*#loading*/

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    /*background-color: #eaeaea;*/
    border-left: none;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 0;
}

@font-face {
    font-family: EmojiOneColor;
    src: url(fonts/EmojiOneColor-SVGinOT.ttf);
    text-decoration: none;
	font-style: normal;
}

@font-face {
    font-family: Symbola;
    src: url(fonts/Symbola.ttf);
    text-decoration: none;
	font-style: normal;
}

img.emoji {
    display: inline-block;
    color: #428bca;
    text-decoration: none;
    background: 0 0;
    cursor: pointer;
    font-size: 25px;
    width: 25px;
    height: 25px;
    font-family: -apple-system EmojiOneColor;
    background-position: 0 0;
    border: 0;
}

span > img.emoji {
    width: 15px;
    height: 15px;
}