input {
    border: none;
    border-bottom: 0.5px solid white;
    outline: none;
    width: 100%;
}

input:focus {
    border-bottom: 1px solid white;
}

ul {
    width: 100%;
    background-color: white;
    padding: 0;
    color: black;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}

.search-widget {
    position: fixed;
}

li {
    cursor: pointer;
    list-style: none outside none;
    padding: 5px;
}

li.selected {
    background-color: #DDD;
}