<div class="search-widget" (keydown)="onKeyPress($event)">
    <div class="controls">
        <button class="btn-search material-icons" (click)="setFocus()">search</button>
        <input
            #searchInput
            id="searchInput"
            name="searchInput"
            type="text"
            class="primary-color"
            [placeholder]="placeholder | translate"
            autocomplete="off"
            [(ngModel)]="input"
            (blur)="blur()"
            (focus)="setFocus()"
        >
    </div>
    <div [@focusInOut]="focusState" class="underline"></div>
    <ul *ngIf="showItems" @dropdown>
        <li
            *ngFor="let item of items; let i = index;"
            class="text-normal"
            [class.selected]="i === _selectedItem"
            (mousedown)="select(item)"
            (mouseover)="onHover(i)"
        >{{item.title}}</li>
    </ul>
</div>