input {
    border: none;
    /* border-bottom: 0.5px solid white; */
    outline: none;
    width: 100%;
}


.underline {
    height: 0;
    width: 100%;
    display: block;
    border: 1px solid white;
    border-radius: 1px;
    position: absolute;
    bottom: 0;
}

ul {
    width: 100%;
    background-color: white;
    padding: 0;
    color: black;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}

.search-widget {
    position: fixed;
}

li {
    cursor: pointer;
    list-style: none outside none;
    padding: 5px;
}

li.selected {
    background-color: #DDD;
}

.controls {
    display: flex;
}

.controls > span {
    display: flex;
    position: relative;
}

button {
    border: none;
    outline: none;
    background: inherit;
}

#searchInput {
    flex: 1;
}

.title {
    cursor: pointer;
    margin-top: 4px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 235px;
}