<div>
    <div class="pull-left breadcrumb-item centering-container"
        [class.clickable]="item.navigationLink || item.href"
        [class.left-buffer]="!first"
        *ngFor="let last=last; let first=first; let item of items | async"
    >
        <a *ngIf="item.navigationLink" routerLink="{{item.navigationLink}}"></a>
        <a *ngIf="item.href" [href]="item.href" target="_blank"></a>
        <div *ngIf="item.leftArrow" class="material-icons pull-left">chevron_left</div>
        <h1 class="breadcrumb-item-title primary-color">{{item.title}}</h1><i *ngIf="!last" class="material-icons">chevron_right</i>
    </div>
</div>